---
import BaseLayout from "./BaseLayout.astro";
import { ChevronLeft } from "lucide-astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string;
    author: string;
    authorImageUrl: string;
  };
}

const { frontmatter } = Astro.props;

// Format date
const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "es-ES",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  },
);
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="prose dark:prose-invert max-w-none">
    <div class="max-w-4xl mx-auto !mb-20">
      <h1
        class="text-5xl leading-tight tracking-tight mx-auto text-center font-semibold mb-0 pt-10"
      >
        {frontmatter.title}
      </h1>
      <div class="flex items-center mt-4 justify-center gap-2">
        <img
          src={frontmatter.authorImageUrl}
          alt={frontmatter.author}
          class="size-6 !m-0 rounded-full"
        />
        <span class="text-sm !m-0 font-medium">{frontmatter.author}</span>
        <span class="text-zinc-400">·</span>
        <time datetime={frontmatter.pubDate} class="text-sm text-zinc-400">
          {formattedDate}
        </time>
      </div>
    </div>

    <div class="space-y-6 max-w-4xl mx-auto">
      <slot />
    </div>

    <div class="mt-12 pt-6 border-t border-zinc-200 dark:border-zinc-800">
      <a
        href="/guides"
        class="text-blue-600 dark:text-blue-400 hover:underline inline-flex items-center gap-1 text-sm"
      >
        <ChevronLeft class="w-3.5 h-3.5" />
        Volver a Guías
      </a>
    </div>
  </div>
</BaseLayout>
